@font-face {
font-family: 'Amurg Regular';
font-style: normal;
font-weight: normal;
src: local('Amurg Regular'), url('font/Amurg-Regular.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Amurg Regular, helvetica, sans-serif;
	background-color: #c3bfbf;
}



header {
	position: fixed;
	padding: 1.7em;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	z-index: 2;
}


.banner {
	background-color: #00ff00;
	position: fixed;
    width: 100vw;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    bottom: 0;
    z-index: 10;
}

.bottom p {
	color: white;
	width: 100vw;
	-moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
	animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
	0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
	}

	100% {
	    -moz-transform: translateX(-100%);
	    -webkit-transform: translateX(-100%);
	    transform: translateX(-100%);
	}
}

.logoline, .contactbox {
	flex-grow: 1;
	display: inline-block;
}

.phoneintro {
	display: none;
}

.intro {
	max-width: 60vw;
}


.aboutcontact {
	display: flex;
	justify-content: flex-end;
    flex-wrap: nowrap;
}

.about, .insta, .mail {
	margin-top: -0.5em;
	padding-left: 1em;
	align-self: center;
}

a {
	text-decoration: none;
}

.aboutstyle:hover {
	text-decoration: underline;
}

h1 {
	text-decoration: none;
	font-size: 1.3em;
	font-style: normal;
	font-weight: normal;
	color: white;
}

.home {
	color: #00ff00;
}

.home:hover {
	text-decoration: underline;
}


.authors {
	position: relative;
	margin-top: 10em;
	margin-bottom: 2em;
}

.container {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: flex-start;
}

.item {
	flex-basis: auto;
	filter: brightness(100);
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 10em;
}

.item:hover {
	filter: none;
}

.clem {
	padding-right: 3em;
	padding-left: 3em;
	transform: rotate(15deg)
}

.marg {
	transform: rotate(-15deg);
}


p {
	color: black;
	font-size: 1.3em;
	line-height: 1.1em;
}


.containerabout {
	display: flex;
}

.textabout {
	margin-left: 15vw;
	max-width: 49vw;
	margin-bottom: 15em;
}

.title {
	display: none;
}

.titles {
	position: fixed;
	top: 10.3em;
	right: 15vw;
	min-width: 20%;
}

h2 {
	font-size: 1.3em;
}

h2 a {
	color: white;
	font-weight: normal;
	text-decoration: none;
}

h2:hover {
	text-decoration: underline;
}


#ph, #author, #model {
	padding-top: 8em;
}

.contentauthor {
	box-shadow: 0px 15px 30px grey;
}

.containerauthor {
	padding-top: 10em;
	padding-left: 10vw;
	padding-right: 10vw;
	display: flex;
	flex-flow: row wrap;
	align-items: top;
}

.itemauthor {
	max-width: 50%;
	margin-bottom: 8em;
}

span {
	color: white;
	text-decoration: underline;
}

.weblink {
	color: white;
	text-decoration: none;
}

.weblink:hover {
	text-decoration: underline;
}

.topi {
	margin: auto;
	padding-bottom: 5em; 
	justify-content: center;
	text-align: center;
}

.topi a {
	color: white;
}

.topi:hover {
	text-decoration: underline;
}


.soldout {
	height: 100vh;
	padding-top: 35vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.unavailable {
	color: white;
	padding-top: 1em;
	justify-content: center;
	text-align: center;
}

.image {
	width: 40vw;
	padding: 1em;
	margin-bottom: 8em;
}

.rest {
	display: flex;
	flex-flow: column wrap;
  	align-items: center;
  	justify-content: center;
}

.imagelongo {
	width: 60vw;
	margin-bottom: 8em;	
}

footer {
	padding: 1.7em;
	margin-bottom: 2em;
}

.signup {
	display: flex;
	margin-top: 0.4em;
}

.email {
	background-color: #c3bfbf;
	border: solid 1px white;
	padding: 0.2em;
	padding-right: 3em;
}

.button {
	background-color: white;
	color: #c3bfbf;
	padding: 0.2em;
	border: solid 1px white;
	font-size: 1.2em;
}

@media only screen and (max-width: 1000px) {
  .bottom p {
	width: 150vw;
	-moz-animation: scroll-left 25s linear infinite;
    -webkit-animation: scroll-left 25s linear infinite;
	animation: scroll-left 25s linear infinite;
}
}

@media only screen and (max-width: 600px) {
 .bottom p {
	width: 100vw;
	-moz-animation: none;
    -webkit-animation: none;
	animation: none;
	padding-left: 1em;
}

  .phoneintro {
  	display: inline;
	max-width: 80vw;
}

.intro {
	display: none;
}

  .aboutcontact {
  	flex-direction: column;
    flex-wrap: wrap;
}

.about, .insta, .mail {
	align-self: flex-end;
	padding-bottom: 1em;
	margin-top: 0em;
}

.authors {
	margin-top: 16em;
}

.textabout {
	margin-left: 1.7em;
	max-width: 80vw;
	margin-bottom: 10em;
}

.title {
	display: inline;
}

.titles {
	display: none;
}

.containerauthor {
	flex-flow: column nowrap;
	align-items: top;
}

.itemauthor {
	max-width: 100%;
}

.image {
	width: 80vw;
}

footer {
	margin-bottom: 5em;
}


}





