@font-face {
font-family: 'Amurg Regular';
font-style: normal;
font-weight: normal;
src: local('Amurg Regular'), url('font/Amurg-Regular.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Amurg Regular, helvetica, sans-serif;
	background-color: #c3bfbf;
}

#myVideo {
  	position: relative;
  	right: 0;
  	bottom: 0;
	width: 100%;
	z-index: 20;
}


header {
	position: fixed;
	padding: 1.7em;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	z-index: 10;
}

.logoline, .contactbox {
	flex-grow: 1;
	display: inline-block;
}

/*.logoline {
	margin-top: -1em;
}

.rotate {
	-webkit-transform:rotate(-15deg);
	-moz-transform: rotate(-15deg);
  	-ms-transform: rotate(-15deg);
  	-o-transform: rotate(-15deg);
  	transform: rotate(-15deg);
  	z-index: 11;
}*/

.aboutcontact {
	display: flex;
	justify-content: flex-end;
    flex-wrap: nowrap;
}

.about, .insta, .mail {
	padding-left: 1em;
	align-self: center;
}

a {
	text-decoration: none;
}

.aboutstyle:hover {
	text-decoration: underline;
}


.aboutsection{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}

h1 {
	text-decoration: none;
	font-size: 1.3em;
	font-style: normal;
	font-weight: normal;
	color: white;
}

.home {
	color: #00ff00;
}

.home:hover {
	text-decoration: underline;
}


.authors {
	position: relative;
	margin-top: 10em;
	margin-bottom: 2em;
}

.container {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: flex-start;
}

.item {
	flex-basis: auto;
	filter: brightness(100);
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 10em;
}

.item:hover {
	filter: none;
}

.clem {
	padding-right: 3em;
	padding-left: 3em;
	transform: rotate(15deg)
}

.marg {
	transform: rotate(-15deg);
}

footer {
	padding: 1.7em;
	display: flex;
	align-items: flex-end;
}

p{
	color: black;
	font-size: 1.3em;
	margin-bottom: 0.5em;
	max-width: 25em;
	line-height: 1.1em;
}

input {
	background-color: #c3bfbf;
	border: none;
	border-bottom: solid 2px white;
	border-radius: 0;
	padding: 0.2em;
	padding-right: 1em;
}

.containerabout {
	display: flex;
}

.textabout {
	margin-left: 15vw;
	max-width: 49vw;
	margin-bottom: 20em;
	padding-bottom: 20em;
}

.titles {
	position: fixed;
	top: 10.3em;
	right: 15vw;
	min-width: 20%;
}

h2 {
	font-size: 1.3em;
}

h2 a {
	color: white;
	font-weight: normal;
	text-decoration: none;
}

h2:hover {
	text-decoration: underline;
}


#ph, #author, #model {
	padding-top: 8em;
}

.contentauthor {
	box-shadow: 0px 15px 30px grey;
}

.containerauthor {
	padding-top: 10em;
	padding-left: 10vw;
	padding-right: 10vw;
	display: flex;
	flex-flow: row wrap;
	align-items: top;
}

.itemauthor {
	width: 50%;
	margin-bottom: 8em;
}

.info {
	width:
}

span {
	color: white;
}

.weblink {
	color: white;
	text-decoration: none;
}

.weblink:hover {
	text-decoration: underline;
}

.topi {
	margin: auto;
	padding-bottom: 5em; 
	justify-content: center;
	text-align: center;
}

.topi a {
	color: white;
}

.topi:hover {
	text-decoration: underline;
}

.rest {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.soldout {
	height: 100vh;
	padding-top: 35vh;
}

.unavailable {
	color: white;
	padding-top: 1em;
	justify-content: center;
	text-align: center;
}

.image {
	width: 40vw;
	padding: 1em;
}



